@font-face {
  font-family: "Rubik One";
  src: url("../Fonts/RubikOne-Regular.ttf");
}

.Create-game {
  width: 450px;
  height: 800px;
  background: #29292b;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  position: relative;

  .Top-bar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding-bottom: 10px;
    background-color: #e14141;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h2 {
      font-size: 40px;
      margin: 5px;
    }
  }

  .Body {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    .Title {
      color: white;
      font-size: 32px;
      background-color: #222224;
      padding: 10px 0;
      text-align: center;
      margin: 0 0 15px 0;
      width: 100%;
    }

    .Code {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      h3 {
        width: 200px;
        font-size: 24px;
        margin: 0 0 15px 0;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        text-align: center;
      }

      h3:hover {
        background-color: rgb(201, 201, 201);
      }

      .clicked {
        background-color: #a5a5a5;
      }
    }

    .Settings {
      .Setting {
        display: flex;
        margin-bottom: 10px;
        position: relative;
        height: 60px;

        .Counter {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          right: 20px;

          input {
            margin-left: 10px;
            padding: 0;
            text-align: center;
            width: 50px;
            height: 40px;
            font-size: 18px;
            pointer-events: none;
          }

          .Buttons {
            display: flex;
            flex-direction: column;
            margin-left: 2px;

            :first-child {
              // border-bottom: 1px solid;
              margin-bottom: 1px;
              border-top-left-radius: 2px;
              border-top-right-radius: 2px;
            }
            :last-child {
              // border-top: 1px solid;
              margin-top: 1px;
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;

              svg {
                transform: rotate(180deg);
              }
            }

            .button {
              background-color: #ff4747;
              border: none;
              width: 30px;
              height: 20px;
              display: flex;
              justify-content: center;

              svg {
                width: 20px;
              }
            }

            .button:hover {
              background-color: #fa7a7a;
            }
          }
        }

        h3 {
          color: white;
          font-size: 24px;
          margin: 0 0 0 15px;
        }

        p {
          color: white;
          margin-left: 5px;
          position: absolute;
          bottom: 10px;
          margin: 0 0 0 15px;
          font-size: 14px;
        }
      }
    }

    .Players {
      .Player {
        height: 50px;
        background-color: #e14141;
        color: white;
        padding-left: 15px;
        border-radius: 5px;
        margin: 2px 2px 10px 2px;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;

        i {
          width: 25px;
          height: 15px;
          margin-left: 10px;
        }

        h2 {
          font-size: 24px;
          margin: 0;

          span {
            font-size: 18px;
          }
        }
      }
    }
  }

  .Bottom-bar {
    height: auto;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 10px;
    flex-direction: column;

    .ErrorText {
      margin: 0 0 8px 0;
      color: red;
      font-weight: bold;
    }

    button {
      font-size: 40px;
      font-family: "Rubik One";
      background-color: #0fd84c;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 8px 25px;
      cursor: pointer;
    }

    button:disabled {
      filter: grayscale(100);
      cursor: default;
      pointer-events: none;
    }

    button:hover {
      background-color: #00a531;
    }
  }
}
