@font-face {
  font-family: "Rubik One";
  src: url("../Fonts/RubikOne-Regular.ttf");
}

@font-face {
  font-family: "Lovelo";
  src: url("../Fonts/Lovelo-LineBold.ttf");
}

.Board {
  position: relative;
  box-shadow: -5px 5px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  .TopPanel {
    height: 105px;
    background-color: #ff4747;
    display: flex;
    align-items: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .PlayerTurn {
      position: absolute;
      top: -20px;
      transform: translate(-50%, -100%);
      left: 50%;
      color: #262628;
      box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      border: solid 5px #262628;
      background-color: #21ff76;
      max-height: 72px;
      max-width: 400px;
      display: flex;
      padding: 0 10px;

      :first-child {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      :last-child {
        margin-left: 10px;
      }

      h1 {
        margin: 0;
        padding: 10px 0;
      }
    }

    .Opponent {
      background-color: #ff4747;
    }

    .Player-count {
      width: 50%;
      text-align: center;
      color: white;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;

      .Shade {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }

      h2 {
        font-size: 24px;
        margin: 10px;
        text-shadow: 2px 2px 2px #0000009d;
        max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
      }

      .Score-count {
        background-color: white;
        color: black;
        width: 60px;
        padding: 5px;
        font-size: 30px;
        font-family: Segoe UI;
        font-weight: bold;
        border-radius: 5px;
        position: absolute;
      }
    }

    .Player-one {
      justify-content: flex-start;

      .Score-count {
        right: 10px;
      }
    }

    .Player-two {
      justify-content: flex-start;
      flex-direction: row-reverse;

      .Score-count {
        left: 10px;
      }
    }

    .Bombs-count {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 140px;
      overflow-wrap: break-word;

      h2 {
        margin: 0;
        font-size: 22px;
        color: white;
        text-shadow: 2px 2px 2px #0000009d;
        text-align: center;
        margin-bottom: 5px;
      }

      div {
        background-color: white;
        width: 80px;
        height: 50px;
        font-size: 36px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
    }
  }

  .Border {
    display: grid;
    border: solid 15px #262628;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    position: relative;

    .Tile {
      background-color: rgb(255, 83, 112);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      // border-left: 5px outset #ff758d;
      // border-top: 5px outset #ff758d;
      // border-bottom: 5px outset #fa2f52;
      // border-right: 5px outset #fa2f52;
      user-select: none;
      background-size: cover;

      i {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .Tile:hover {
      filter: brightness(1.4);
    }

    .highlight {
      // border: 5px solid rgb(255, 145, 0) !important;
      filter: brightness(1.4);
    }

    .Tile:hover {
      background-color: rgb(255, 154, 171);
    }

    .Clicked-tile {
      // background-color: white;
      background-size: cover;
      width: 40px;
      height: 40px;
      // border: 5px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      // margin: 1px;
      // border-radius: 3px;
      user-select: none;

      i {
        height: 30px;
        width: 28px;
      }
    }

    .Bomb-tile {
      width: 40px;
      height: 40px;
      background-color: rgb(255, 60, 60);
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      // background-image: url("../Img/Explosion.png");

      i {
        height: 30px;
        width: 28px;
      }
    }
  }
}
