@font-face {
  font-family: "Rubik One";
  src: url("../Fonts/RubikOne-Regular.ttf");
}

@font-face {
  font-family: "Lovelo";
  src: url("../Fonts/Lovelo-LineBold.ttf");
}

.Board {
  position: relative;
  -webkit-box-shadow: -5px 5px 4px 5px rgba(0, 0, 0, 0.5);
          box-shadow: -5px 5px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.Board .TopPanel {
  height: 105px;
  background-color: #ff4747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Board .TopPanel .PlayerTurn {
  position: absolute;
  top: -20px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  left: 50%;
  color: #262628;
  -webkit-box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: solid 5px #262628;
  background-color: #21ff76;
  max-height: 72px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.Board .TopPanel .PlayerTurn :first-child {
  text-overflow: ellipsis;
  overflow: hidden;
}

.Board .TopPanel .PlayerTurn :last-child {
  margin-left: 10px;
}

.Board .TopPanel .PlayerTurn h1 {
  margin: 0;
  padding: 10px 0;
}

.Board .TopPanel .Opponent {
  background-color: #ff4747;
}

.Board .TopPanel .Player-count {
  width: 50%;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.Board .TopPanel .Player-count .Shade {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.Board .TopPanel .Player-count h2 {
  font-size: 24px;
  margin: 10px;
  text-shadow: 2px 2px 2px #0000009d;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.Board .TopPanel .Player-count .Score-count {
  background-color: white;
  color: black;
  width: 60px;
  padding: 5px;
  font-size: 30px;
  font-family: Segoe UI;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
}

.Board .TopPanel .Player-one {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Board .TopPanel .Player-one .Score-count {
  right: 10px;
}

.Board .TopPanel .Player-two {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.Board .TopPanel .Player-two .Score-count {
  left: 10px;
}

.Board .TopPanel .Bombs-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 140px;
  overflow-wrap: break-word;
}

.Board .TopPanel .Bombs-count h2 {
  margin: 0;
  font-size: 22px;
  color: white;
  text-shadow: 2px 2px 2px #0000009d;
  text-align: center;
  margin-bottom: 5px;
}

.Board .TopPanel .Bombs-count div {
  background-color: white;
  width: 80px;
  height: 50px;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.Board .Border {
  display: -ms-grid;
  display: grid;
  border: solid 15px #262628;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  position: relative;
}

.Board .Border .Tile {
  background-color: #ff5370;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-size: cover;
}

.Board .Border .Tile i {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Board .Border .Tile:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.Board .Border .highlight {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.Board .Border .Tile:hover {
  background-color: #ff9aab;
}

.Board .Border .Clicked-tile {
  background-size: cover;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Board .Border .Clicked-tile i {
  height: 30px;
  width: 28px;
}

.Board .Border .Bomb-tile {
  width: 40px;
  height: 40px;
  background-color: #ff3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
}

.Board .Border .Bomb-tile i {
  height: 30px;
  width: 28px;
}
/*# sourceMappingURL=Game.css.map */